.mypy_cache
.ruff_cache
.pytest_cache
__pycache__
*.py[cod]
*.egg-info
*.lock
.venv*
.env*
dist/
.idea
build/
.coverage*
htmlcov/
.tox/
.nox/
.vscode/
.DS_Store
*.log
*.key
*.pem
*.p12
*.pfx
.state/
vibe/
